
<div class="m-justify">
<div class="m-card">
<div class="m-card-body">

<form class="form-signin" method="POST" ng-submit="submitRegister()">

    <h3 class="m-center">Register</h3>
    <p class="m-center">It's free!</p>

    <div ng-if="alertMsg == true">
      <div class="alert {{alertClass}} alert-dismissible">{{ alertMessage }}
        <a href="#" class="close" ng-click="closeMsg()" aria-label="close">&times;</a>
      </div>
    </div>

    <div class="m-input-group">
      <input ng-model="registerData.name" type="text" name="name" id="inputUsername" class="text-dark m-form-control" required autofocus>
      <label>Name</label>
    </div>

    <div class="m-input-group">
      <input ng-model="registerData.email" type="email" name="email" id="inputEmail" class="text-dark m-form-control" required>
      <label>Email address</label>
    </div>

    <div class="m-input-group">
      <input ng-model="registerData.password" type="password" name="pass1" id="password" class="text-dark m-form-control" required>
      <label>Password</label>
    </div>

    
    <input class="float-left m-hidden" id="psk" type="button" ng-click="showPass()">
    <label class="float-left" for="psk">Show Password</label>

      <p class="float-right">Already have an account? <a href="login">Login</a></p>
      <button class="m-btn waves-effect m-btn-primary m-btn-block" name="submit" type="submit">Register</button>

    </form>
    
  </div>
</div>
</div>
